@use "../../styles/mixin" as *;
@use "../../styles/variables" as *;

.header{
    background-color: $black-02;
    position: relative;
    border-bottom: 1px solid #FFFFFF1A;

    @include mid-mobile{
        border-bottom: none;
    }

    &__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;

        @include mid-mobile{
            border-bottom: 1px solid #FFFFFF1A;
            margin: auto;
            padding: 2rem 0;
        }

        @include mid-tablet{
            padding: 2.1875rem 0 2.3125rem;
        }
    }

    &__cart{

        @include mid-tablet{
            order: 2;
        }
    }
}