@use "../../../styles/mixin" as *;
@use "../../../styles/variables" as *;


.product{
    padding-top: 1rem;

    @include tablet{
        padding-top: 2rem;
    }

    @include mid-tablet{
        padding-top: 5rem;
    }

    &__back{
        @include body-01;
        opacity: 0.5;

        @include tablet{
            width: 100%;
        }
    }
}

.heading{

    @include tablet{
        display: flex;
        flex-wrap: wrap;
        row-gap: 1.5rem;
        justify-content: space-between;
    }

    @include mid-tablet{
        display: flex;
        justify-content: space-between;
        row-gap: 3.5rem;
    }

    &__picture{
        border-radius: 0.5rem;
        overflow: hidden;
        height: 22rem;
        text-align: center;
        background-color: $white-02;
        margin-top: 1.5rem;

        @include tablet{
            width: 41%;
            margin-top: 0;
            height: 30rem;
        }

        @include mid-tablet{
            width: 33.75rem;
            height: 35rem;
        }
    }

    &__image{
        width: 20.4375rem;
        height: inherit;

        @include tablet{
            width: 17.5625rem;
        }

        @include mid-tablet{
            width: 33.75rem;
            height: 35rem;
        }
    }

    &__texts{
        margin-top: 2rem;

        @include tablet{
            margin-top: 2.8125rem;
            width: 50%;
            height: 100%;
        }

        @include mid-tablet{
            width: 27.8125rem;
            margin-top: 4.8125rem;
        }

        &--old{
            margin-top: 2.5rem;

            @include mid-tablet{
                margin-top: 7.875rem;
            }
        }

        &--switch{
            order: -1;
        }
    }

    &__new{
        @include overline;
        color: $peach-00;
        display: none;

        &--show{
            display: block;
        }
    }

    &__name{
        @include heading-04;
        margin: 1.5rem auto 0;
        text-transform: uppercase;

        @include tablet{
            margin-top:  1rem;
        }

        @include mid-tablet{
            @include heading-02;
        }
    }

    &__category{
        display: block;
    }

    &__description{
        @include body-01;
        opacity: 0.5;
        min-width: 20.4375rem;
        margin: 1.5rem auto 0 0;
        max-width: 35rem;

        @include tablet{
            margin-top: 2rem;
        }
    }

    &__price{
        @include heading-06;
        margin-top: 1.5rem;
    }
}

.additional{
    margin-top: 5.5rem;

    @include tablet{
        margin-top: 7.5rem;
    }

    @include mid-tablet{
        margin-top: 10rem;
    }

    &__title{
        @include heading-05;
        line-height: 1.5;
        letter-spacing: 0.857px;

        @include tablet{
            @include heading-03;
        }
    }

    &__paragraph{
        @include body-01;
        margin-top: 1.5rem;
        white-space: pre;
        text-wrap: wrap;
        opacity: 0.5
    }
}
.items{
    margin-top: 5.5rem;

    &__list{
        margin-top: 1.5rem;
    }
}

.item{
    @include body-01;
    margin-top: 0.5rem;
    color: #00000080;

    &:first-of-type{
        margin-top: 0;
    }

    &__quantity{
        font-weight: 700;
        color: $peach-01;
        width: 2rem;
        display: inline-block;
    }
}

