@mixin mid-mobile{
    @media screen and (min-width: 689px) {
        @content;
    }
}

@mixin tablet{
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin mid-tablet{
    @media screen and (min-width: 1234px) {
        @content;
    }
}

@mixin desktop{
    @media screen and (min-width: 1440px) {
        @content;
    }
}

@mixin heading-01{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.03571;
    letter-spacing: 2px;
}

@mixin heading-02{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 1.429px;
}

@mixin heading-03{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.125;
    letter-spacing: 1.143px;
}

@mixin heading-04{
    font-size: 1.75rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
}

@mixin heading-05{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.714px;
}

@mixin heading-06{
    font-size: 1.125rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.286px;
}

@mixin overline{
    font-size: 0.875rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 10px;
}

@mixin subtitle{
    font-size: 0.8125rem;
    font-weight: 700;
    line-height: 1.92308;
    letter-spacing: 0.929px;
}

@mixin body-01{
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.66667;
}

@mixin body_02{
    font-size: 0.9375rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.071px;
}

@mixin body_03{
    font-size: 0.8125rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}