@use "../../styles/mixin" as *;
@use "../../styles/variables" as *;

.nav{

    @include mid-tablet{
        display: none;
    }

    &__content{
        background-color: $white-00;
        border-radius: 0 0 0.5rem 0.5rem;
        padding: 5.3125rem 0 2.1875rem;

        @include tablet{
            padding: 6.75rem 0 4.1875rem;
        }
    }

    &__overlay{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        display: none;
        height: calc(100vh - 5.625rem);
        background-color: #00000066;
        z-index: 1;

        &--show{
            display: unset;
        }
    }

    &__toggle{

        @include mid-tablet{
            display: none;
        }
    }

    &__hamburger{
        background-color: $black-03;
    }
}