@use "../styles/mixin" as *;
@use "../styles/variables" as *;

/* Normalization — START */

html{
    box-sizing: border-box;
    height: 100%;
}

body{
    min-height: 100%;
}

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    color: inherit;
}

a{
    text-decoration: none;
    font-size: 0;
    display: block;
    width: fit-content;
}

ul{
    list-style: none;
}

img{
    max-inline-size: 100%;
    block-size: auto;
}

picture{
    display: block;
    font-size: 0;
    overflow: hidden;
}

button{
    border: none;
    background-color: inherit;
}

/* Normalization — END */


.content{
    width: 87.2%;
    margin: auto;

    @include tablet{
        width: 90%;
        max-width: 69.375rem;
    }

    &--fix{
        width: 20.4375rem;
        margin: auto;

        @include tablet{
            width: 90%;
            max-width: 69.375rem;
        }
    }
}

.btn{
    @include body_03;
    padding: 0.9375rem 2rem;
    color: $white-00;
    
    &--peach{
        background-color: $peach-00;
    }
}