@use "../styles/mixin" as *;
@use "../styles/variables" as *;

html{
    box-sizing: border-box;
    height: 100%;
}

body{
    min-height: 100%;
}

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    color: inherit;
}

.content{
    width: 87.2%;
    margin: auto;

    @include tablet{
        width: 90%;
        max-width: 69.375rem;
    }

    &--fix{
        width: 20.4375rem;
        margin: auto;
    }
}

button{
    background-color: inherit;
    border: none;
}

a{
    text-decoration: none;
    font-size: 0;
    display: block;
    width: fit-content;
}

ul{
    list-style: none;
}

img{
    max-inline-size: 100%;
}