@use "../styles/mixin" as *;
@use "../styles/variables" as *;

.home{
    padding-bottom: 7.5rem;

    &__subnav{
        margin-top: 9.25rem;
    }
}

.hero{
    position: relative;
    height: fit-content;
    background-color: $black-03;

    &__left{
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &__right{
        max-width:  23.4375rem;
        top: 0;
        object-fit: cover;
        margin: auto;

        @include tablet{
            max-width: unset;
            width: 48rem;
            height: 40rem;
        }

        @include desktop{
            width: 90rem;
            height: 39.5rem;
        }
    }

    &__new{
        @include overline;
        color: $white-00;
        opacity: 0.5;
        width: fit-content;
        margin: 6.75rem auto 0;

        @include tablet{
            margin-top: 7.875rem;
        }

        @include desktop{
            width: 69.375rem;
            margin: 8rem auto 0;
        }
    }

    &__heading{
        width: 20.4375rem;
        margin: 1rem auto 0;
        font-size: 2.25rem;
        font-weight: 700;
        line-height: 1.11111;
        letter-spacing: 1.286px;
        text-align: center;
        color: $white-00;

        @include tablet{
            @include heading-01;
            margin-top: 1.5rem;
            width: 25rem;
        }

        @include desktop{
            width: 69.375rem;
            margin: 1.5rem auto 0;
        }

        &--double{

            @include desktop{
                display: block;
                width: 25rem;
                text-align: left;
            }
        }
    }

    &__description{
        @include body-01;
        margin: 1.5rem auto 0;
        width: 20.4375rem;
        text-align: center;
        color: $white-00;
        opacity: 0.75;

        @include desktop{
            width: 69.375rem;
            margin: 1.5rem auto 0;
        }

        &--double{

            @include desktop{
                display: block;
                width: 21.875rem;
                text-align: left;
            }
        }
    }

    &__link{
        width: fit-content;
        margin: 2.75rem auto 0;

        @include desktop{
            width: 69.375rem;
        }
    }
}

.zx9{
    background-color: $peach-00;
    margin: 7.5rem auto 0;
    border-radius: 0.5rem;

    @include mid-tablet{
        display: flex;
    }

    &__picture{
        background-image: url("../../public/images/home/pattern-circles.svg");
        background-size: 34.875rem 34.875rem;
        padding: 3.4375rem 0 10.9375rem;
        text-align: center;
        background-position: bottom center;
        background-repeat: no-repeat;

        @include tablet{
            background-size: 59rem 59rem;
            padding: 3.25rem 0 22.9375rem;
        }

        @include mid-tablet{
            padding: 0 0 0 8.6875rem;
            width: 50.6875rem;
            text-align: left;
            background-position: left -155px bottom -348px;
        }
    }

    &__image{
        width: 10.75rem;

        @include tablet{
            width: 12.3125rem;
        }

        @include mid-tablet{
            width: 23.25rem;
            padding-top: 7.8125rem;
            margin-bottom: -1rem;
        }
    }

    &__last{
        margin-top: -7.4375rem;
        padding: 0 0 3.4375rem;
        z-index: 2;

        @include tablet{
            margin-top: -18.75rem;
            padding: 0 0 4rem;
        }

        @include mid-tablet{
            margin-top: 0;
            padding: 0;
            margin-left: -9.5rem;
        }
    }

    &__title{
        @include heading-02;
        width: 15rem;
        margin: auto;
        letter-spacing: 1.286px;
        line-height: 1.11111;
        text-align: center;
        color: $white-00;

        @include tablet{
            @include heading-01;
        }

        @include mid-tablet{
            text-align: left;
            margin: 8.3125rem 0 0;
            width: 21.875rem;
        }
    }

    &__description{
        @include body-01;
        width: 17.5rem;
        margin: 1.5rem auto 0;
        text-align: center;
        color: $white-00;
        opacity: 0.75;

        @include tablet{
            width: 21rem;
        }

        @include mid-tablet{
            text-align: left;
            margin: 1.5rem 0 0;
            width: 21.875rem;
        }
    }

    &__link{
        margin: 1.5rem auto 0;

        @include tablet{
            margin-top: 2.5rem;
        }

        @include mid-tablet{
            text-align: left;
            margin: 2.5rem 0 0;
        }
    }
}

.zx7{
    margin: 1.5rem auto 0;
    border-radius: 0.5rem;
    overflow: hidden;
    max-height: 20rem;
    text-align: right;
    width: 20.4375rem;
    position: relative;

    @include tablet{
        width: 43.0625rem;
        margin-top: 2rem;
    }

    @include mid-tablet{
        width: 69.375rem;
        margin-top: 3rem;
    }

    &__image{
        height: 20rem;
    }

    &__texts{
        position: absolute;
        top: 6.3125rem;
        left: 1.625rem;

        @include tablet{
            left: 3.875rem;
        }

        @include mid-tablet{
            left: 6rem;
        }
    }

    &__title{
        @include heading-04;
    }

    &__link{
        margin-top: 2rem;
    }
}

.yx1{
    margin-top: 1.5rem;

    &__picture{
        overflow: hidden;
        border-radius: 0.5rem;
        height: 12.5rem;
    }

    &__image{
        height: inherit;
    }

    &__texts{
        background-color: $white-02;
        margin-top: 1.5rem;
        border-radius: 0.5rem;
        padding: 2.5rem 1.5rem;
    }


}