@use "../../styles/mixin" as *;
@use "../../styles/variables" as *;

.footer{
    background-color: $black-01;

    &__block{
        display: block;
        width: 6.3125rem;
        height: 0.25rem;
        background-color: $peach-00;
        margin: auto;

        @include tablet{
            margin-left: 0;
        }
    }

    &__content{
        padding: 3rem 0 2.375rem;
        color: $white-00;

        @include tablet{
            display: flex;
            flex-wrap: wrap;
            padding: 3.5rem 0 2.875rem;
            align-items: flex-end;
            justify-content: space-between;
            position: relative;
        }

        @include mid-tablet{
            padding-left: 0;
            padding-right: 0;
            padding: 4.4375rem 0 3rem;
        }
    }

    &__logo{
        margin: auto;

        @include tablet{
            width: 100%;
        }
        
        @include mid-tablet{
            width: 50%;
        }
    }

    &__links{
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        @include tablet{
            margin-top: 2rem;
            flex-direction: row;
            column-gap: 2.125rem;
        }

        @include mid-tablet{
            width: 50%;
            margin: 0 0 0 auto;
            justify-content: flex-end;
        }
    }

    &__link{
        @include subtitle;
        letter-spacing: 2px;
        margin: auto;
    }

    &__description{
        @include body-01;
        text-align: center;
        opacity: 0.5;
        margin-top: 3rem;

        @include tablet{
            text-align: left;
            margin-top: 2rem;
            width: 43.0625rem;

            &:last-of-type{
                margin-top: 5rem;
                width: 100%;
            }
        }

        @include mid-tablet{

            &:last-of-type{
                margin-top: 3.5rem;
            }
        }
    }
}

.socials{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    margin-top: 3rem;
    align-items: center;

    @include tablet{
        position: absolute;
        bottom: 2.875rem;
        margin-top: 0;
        right: 0;
    }

    @include mid-tablet{
        bottom: 8.5rem;
    }
}