@use "../../styles/mixin" as *;
@use "../../styles/variables" as *;

.hook{

    @include tablet{
        width: 43.0625rem;
    }

    @include mid-tablet{
        width: 69.375rem;
        display: flex;
        justify-content: space-between;
    }

    &__last{
        margin-top: 2.5rem;

        @include tablet{
            margin: 3.9375rem auto 0;
        }

        @include mid-tablet{
            margin: 0;
            width: 27.8125rem;
        }
    }
    
    &__image{
        border-radius: 0.5rem;
        width: 100%;
        height: 300px;

        @include mid-tablet{
            width: 33.75rem;
            height: 36.75rem;
        }

        &--mobile{
            
            @include tablet{
                display: none;
            }

            @include mid-tablet{
                display: none;
            }
        }

        &--tablet{
            display: none;
            
            @include tablet{
                display: unset;
            }

            @include mid-tablet{
                display: none;
            }
        }

        &--desktop{
            display: none;
            
            @include tablet{
                display: none;
            }

            @include mid-tablet{
                display: unset;
                order: 1;
            }
        }
    }

    &__heading{
        @include heading-04;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: center;
        margin: auto;

        &--peach{
            color: $peach-00;
        }

        @include tablet{
            width: 35.8125rem;
        }

        @include mid-tablet{
            @include heading-02;
            margin: 9.1875rem 0 0;
            width: 100%;
            text-align: left;
        }
    }

    &__description{
        @include body-01;
        margin-top: 2rem;
        text-align: center;
        opacity: 0.5;

        @include tablet{
            width: 35.8125rem;
            margin: 2rem auto 0;
        }

        @include mid-tablet{
            margin-left: 0;
            width: 100%;
            text-align: left;
        }
    }
}